<body>
	<div ng-click="createList()" class = "btn btn-success" style="position:relative;margin:auto">
  Add
  </div>
  <div ng-repeat="metric in metricList track by $index">
    <h1 class = "btn btn-primary">Metric set {{$index + 1}}</h1>
    <div ng-init ="indexOfList = $index">
      <div class = "container-fluid container-fluid-spacious">
        <div ng-repeat="data in metric track by $index">
          <div class="col-lg-4">
            <div ng-if="$index < 3">

                <h6 class="hr-divider-content hr-divider-heading">Graph</h6>
            

              <div class = "row">
                <div class="col-lg-6" style="margin-left:5px; width:50%">
                  <form ng-submit="setName(data.metric,indexOfList,$index)" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control"  ng-model="data.metric" type="text" placeholder="name" style="width:150%" >
                        <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-lg-6" style=" margin-left:22px;width:40%">
                  <div class ="form-inline navbar-form">
                    <select class="form-control" style="width:135%" ng-model="graph" ng-change="switchGraph(graph,indexOfList,$index)">
                      <option ng-repeat="type in graphList" value="{{type}}">{{type}}</option>
                    </select>
                  </div>
                </div>
 
              </div>
		          <form ng-submit="queryDB(data.query,indexOfList,$index,'graph')" class="form-inline navbar-form">
                <div class="input-with-icon">
                  <input class="form-control" style='width:275%' ng-model="data.query" type="text" placeholder="query">
                  <span class="icon icon-magnifying-glass"></span>
                </div>
              </form>
            </div>
            <div ng-if="$index < 6 && $index >= 3">

                <h3 class="hr-divider-content hr-divider-heading">Single Stats</h3>
              
              <div class = "row">
                <div class="col-sm-4" style="margin-left:5px; width:30%">
                  <form ng-submit="setName(data.metric,indexOfList,$index)" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control" style='width:150%' ng-model="data.metric" type="text" placeholder="name">
                      <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4" style="margin-left:12px; width:30%">
                  <form ng-submit="setPreName(data.preStat,indexOfList,$index,'graph')" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control" style='width:150%' ng-model="data.preStat" type="text" placeholder="prename">
                      <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4" style="margin-left:12px; width:30%">
                  <form ng-submit="setPostName(data.postStat,indexOfList,$index)" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control" style='width:150%' ng-model="data.postStat" type="text" placeholder="postname">
                      <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
              </div>

              <div class = "row">
                <div class="col-sm-4" style="margin-left:5px; width:30%">
                  <form ng-submit="setMin(data.min,indexOfList,$index)" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control" style='width:150%' ng-model="data.min" type="text" placeholder="min">
                      <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4" style="margin-left:12px; width:30%">
                  <form ng-submit="setMax(data.max,indexOfList,$index,'graph')" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control" style='width:150%' ng-model="data.max" type="text" placeholder="max">
                      <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4" style="margin-left:12px; width:30%">
                  <div class ="form-inline navbar-form">
                    <select class="form-control" style="width:150%" ng-model="graph" ng-change="switchGraph(graph,indexOfList,$index)">
                      <option ng-repeat="type in graphList" value="{{type}}">{{type}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <form ng-submit="queryDB(data.query,indexOfList,$index,'stat')" class="form-inline navbar-form">
                <div class="input-with-icon">
                  <input class="form-control" style='width:275%' ng-model="data.query" type="text" placeholder="query">
                  <span class="icon icon-magnifying-glass"></span>
                </div>
              </form>
            </div>
            <div ng-if="$index >= 6">
 
                <h3 class="hr-divider-content hr-divider-heading">Large Graph</h3>
         
            
              <div class = "row">
                <div class="col-lg-6" style="margin-left:5px; width:50%">
                  <form ng-submit="setName(data.metric,indexOfList,$index)" class="form-inline navbar-form">
                    <div class="input-with-icon">
                      <input class="form-control"  ng-model="data.metric" type="text" placeholder="name" style="width:150%" >
                        <span class="icon icon-magnifying-glass"></span>
                    </div>
                  </form>
                </div>
                <div class="col-lg-6" style=" margin-left:22px;width:40%">
                  <div class ="form-inline navbar-form">
                    <select class="form-control" style="width:135%" ng-model="graph" ng-change="switchGraph(graph,indexOfList,$index)">
                      <option ng-repeat="type in graphList" value="{{type}}">{{type}}</option>
                    </select>
                  </div>
                </div>
 
              </div>
              <form ng-submit="queryDB(data.query,indexOfList,$index)" class="form-inline navbar-form">
                <div class="input-with-icon">
                  <input class="form-control" style='width:275%' ng-model="data.query" type="text" placeholder="query">
                    <span class="icon icon-magnifying-glass"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>